<h2>Celebrities</h2>
{{#if successMessage}}
    <div style="background-color: rgb(64, 213, 101)">
        {{successMessage}}
    </div>
{{/if}}

{{#each celebrities}}
    <a href="/celebrities/{{this._id}}">
        <h3>{{this.name}}</h3>
    </a>
{{/each}}

<a href="/">Return Home</a>
<a href="/celebrities/create">Create Celebrity</a>