<h2>New Celebrity</h2>

<form action="/celebrities/create" method="POST">
    <div>
        Name: 
        <input type="text" name="celebName">
    </div>

    <div>
        Occupation: 
        <input type="text" name="celebOccupation">
    </div>

    <div>
        Catch Phrase: 
        <input type="text" name="catchPhrase">
    </div>

    <button>Submit</button>
</form>

<br>
<br>
<a href="/">Return Home</a> |
<a href="/celebrities">Return Celebrities</a>