<h1>Create a New Movie</h1>

{{!-- when you are talking about the name of your model views and controllers --}}
{{!-- thats called a resource --}}
{{!-- so pokemon is our resource in this example --}}
<form action="/movies/create" method="POST">

<div>
    Title: 
    <input type="text" name="movieTitle">
</div>

<div>
    Genre: 
    <input type="text" name="movieGenre">
</div>

<div>
    Plot: 
    <input type="text" name="moviePlot">
</div>

<div>
    Cast: 

    <select name="theCast">
        {{#each celebrities}}
            <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
    </select>
</div>




<button>Save</button>


</form>

<br>
<br>
<a href="/">Return Home</a>