<nav>
    <a href="/">Home</a>
</nav>

<h1>Signup</h1>

{{#if errorMessage}}
    <div style="background-color: rgb(213, 64, 64)">
        {{errorMessage}}
    </div>
{{/if}}


<form action="/signup" method="POST">

<div>
    Username:
    <input type="text" name="username">
</div>

<div>
    Email:
    <input type="email" name="email">
    {{!-- validation can happen server side and client side --}}
</div>

<div>
    Password:
    <input type="password" name="password">
</div>



    <button>Submit</button>
</form>